body{
    font-family: "Raleway", "Calibri";
    background-color: #F4F6F5 ;
}
a{
    color: #000;
}
.container{
    margin: auto;
    padding: 0 15px;
    max-width: 1382px;
}

.no-scroll{
    overflow-y: hidden;
}